<div class="message is-current-user-<%= message.user == current_user %>" id="message-<%= message.id %>">
  <small><%= time_ago_in_words(message.created_at) %> ago</small>
  <!-- Only make the time visible for the last message,
    has no added value for the others -->
  <div class="message-text">
    <%= message.content %>
  </div>
</div>
