<div class="review-card">
    <p>Review by <strong><%= User.find(review.customer_id).full_name %></strong></p>
    <p><strong>Rating: </strong> <%= review.rating %></p>
    <p><strong>Comment: </strong> <%= review.content %></p>
    <hr style="color: #0D253D">
</div>
