<div class="container">
<!-- <p>Pages#home</p> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
  <div class="text-center">
    <h1> Welcome to Legato </h1>
    <h2> Classical music concerts <br> in your living room </h2>
    <%= link_to "Click Here to Browse Musicians", musicians_path, class: "btn btn-navy-blue" %>
    <br>
    <br>
    <br>
    <%= link_to "Click Here to Browse Musicians or not", musicians_path, class: "btn btn-burgundy" %>
  </div>
</div>
