.booking-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 40px;
  border-radius: 8px;
  align-items: center;
  color: #0D253D;
  p {
    margin-bottom: 4px;
  }
}

.booking-card .booking-card-infos {
  padding: 16px;
}
