
.btn-primary {
  background-color: #0D253D;
  color: white;
  border: none;
  padding: 16px 26px 40px;
  border-radius: 8px;
  font-weight: bold;
  opacity: 1;
  width: auto;
  height: 40px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  margin-top: 20px;
  text-transform: uppercase;
  // float: right;
  // margin-right: 336px;
  // margin-top: 22px;
  // text-capitalize:"true";
}

.btn-primary:hover{
   background:#fff;
   box-shadow:0px 1px 1px 1px rgba(132, 96, 0, 0.2);
   color: #0D253D;
}

.btn-primary-ok {
  background-color: #0D253D;
  color: white;
  border: none;
  padding: 16px 60px 40px;
  border-radius: 8px;
  font-weight: bold;
  opacity: 1;
  width: auto;
  height: 40px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  margin-top: 20px;
  text-transform: uppercase;
  // float: right;
  // margin-right: 336px;
  // margin-top: 22px;
  // text-capitalize:"true";
}

.btn-primary-ok:hover{
   background:#fff;
   box-shadow:0px 1px 1px 1px rgba(132, 96, 0, 0.2);
   color: #0D253D;
}

.btn-danger {
  background-color: #84161E;
  // color: white;
  border: none;
  // padding: 16px 26px 40px;
  // border-radius: 8px;
  // font-weight: bold;
  // opacity: 1;
  // width: auto;
  // height: 40px;
  // text-decoration: none;
  // text-align: center;
  // vertical-align: middle;
  // cursor: pointer;
  transition: background-color 0.5s;
  // overflow: hidden;
  // margin-top: 20px;
  // text-transform: uppercase;
}

.btn-danger:hover{
   background:#fff;
   box-shadow:0px 1px 1px 1px rgba(132, 96, 0, 0.2);
   color: #84161E;
}

// .btn-navy-blue:after {
//     content: "";
//     background: #;
//     display: block;
//     position: absolute;
//     padding-top: 300%;
//     padding-left: 350%;
//     // margin-left: -20px !important;
//     // margin-top: -120%;
//     opacity: 0;
// }
// .btn-navy-blue:active:after {
//     padding: 0;
//     margin: 0;
//     opacity: 1;
// }
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

// *{margin: 0px; padding: 0px}

// body{
//   background:#2;
//   font-family: 'Open Sans', sans-serif;
// }

// h1, button{
//   color:#;
//   text-align: center;
//   padding: 20px;
// }

// p{
//   color:#;
//   text-align: center;
//   padding-top: 500px;
//   font-size: 10px;
// }

// a{
//    text-decoration:none;
//    color:#;
// }

// a:hover{
//    color:#;
// }

// .main{
//   width: 100%;
// }

// .sub-main{
//   width: 30%;
//   margin:22px;
//   float: left;
// }


