// fontanello & color picker : make sure you have these extensions

body {
  font-family: ;
}

.card-title {
  text-align: center;
  font-size: ;


}
.musician-picture {
  max-width: 100%;
  height: auto;
}

.musician-card {
  margin: 10px;
}

#card-line {
  border: 0.5px solid black;

}

