// fontanello & color picker : make sure you have these extensions
.card-text {
  font-size: 15px;
  color: #0D253D;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.card-bottom-text {
  font-size: 20px;
  margin-bottom: 0;
  color: #0D253D;
}

.card-title h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
  color: #866200;
  text-transform: uppercase;
}

.learn-more-btn {
  height: 50px;
}
.card-title {
  text-align: center;
}

.musician-picture {
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

.musician-card {
  margin: 10px;
}

// #card-line {
//   border: 0.5px solid rgba(0, 0, 150, 0.3);

// }

// text-transform css property
