.form-style {
  color: #0D253D;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
}

.form-align {
  // parent = relative
  // child = absolute
  position: relative;
}
