.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  color:  #0D253D;
  font-weight: 500;
  ;
  .btn {
    width: 70%;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #0D253D;
    color: white;
    border-radius: 8px;
  }
}

.input {
  border-radius: 8px;
}

h1 {
  color: #846000;
  font-weight: bold;
}
