

// .modal-body {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.modal-centered-element {
  text-align: center;
  strong {
    color: red;

  p {opacity: 0.6;

    }

  }
}
// .Aligner {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .Aligner-item {
//   max-width: 50%;
// }

// .Aligner-item--top {
//   align-self: flex-start;
// }

// .Aligner-item--bottom {
//   align-self: flex-end;
// }



// .centered-modal.in {
//     display: flex !important;
// }
// .centered-modal .modal-dialog {
//     margin: auto;
// }

// $( document ).ready(function() {
//   $('#myModal').modal('show');
// });

