.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // opacity: 0.08;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar-custom .navbar-brand,
// .navbar-custom .navbar-text {
//   color: $;
//         }
