.legato-logo img{
  width: 150px;

}

.legato-navbar{
  display:flex ;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgb(249,247,243);
  margin-bottom: 40px;
}

.legato-navbar-items{
  display: flex;
  align-items: center;
}



// rgba(132, 96, 0, 0.05)






