.legato-logo img{
  width: 150px;

}

.legato-navbar{
  display:flex ;
  // border: 3px solid red;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  // background: rgba(132, 96, 0, 0.08);
  margin-bottom: 40px;
}

.legato-navbar-items{
  display: flex;
  align-items: center;
}
// .legato-navbar-small-buttons{
//   display: flex;
//   // margin-right: 16px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   flex-direction: column !important;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .nav-item-active a {
// color: rgba(255, 255, 255, 1);
// }
// .navbar-custom .navbar-brand,
// .navbar-custom .navbar-text {
//   color: $;
//         }

// .navbar-custom {
//     background-color: #yello;
//     // opacity: 0.08;
// }

// .navbar-custom .navbar-brand,
// .navbar-custom .navbar-text {
//     color: rga(255,255,255,.8);
// }
//  .navbar-light .navbar-nav .nav-link {
//     color: rgba(255, 255, 255, 1);
//     padding: 16px 60px 40px;
//     margin-right: 20px;
//     border-radius: 8px;
// }


// .nav-link {
//       color: rgba(255, 255, 255, 1);
//       padding: 16px 60px 40px;
//       margin-right: 20px;
//       border-radius: 8px;
//       // margin-right: -4px;
// }











