.musician-website {
  color: #846000;
  text-decoration: underline;
  // &:hover {
  //   text-decoration: none;
  // }
}

.musician-video {
  width: 100%;
  height: 400px;
}

@media (max-width: 700px) {
  .musician-video {
    height: 300px;
  }
}


.social-media-icons {
  color: #846000;
  &:hover {
    text-decoration: none;
  }
  font-size: 50px;
}
